<!DOCTYPE html>
<html>
<head>
	<script type="text/javascript">

	function logarSe() {
		alert("Você será redirecionado");
		window.location.href="Login.html";
	}

	<link rel="stylesheet" href="site_responsivo/css/bootstrap.min.css">
	<link rel="stylesheet" href="site_responsivo/css/bootstrap-grid.min.css">
	
	<script src="site_responsivo/js/jquery-3.3.1.min.js"></script>
	<script src="site_responsivo/js/popper.min.js"></script>
	<script src="site_responsivo/js/tooltip.min.js"></script>
	<script src="site_responsivo/js/bootstrap.min.js"></script>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>Venda de Roupas e Peças...</title>
</head>
<body class="Fundo2">
	<div class="barra">
		<h1 style="text-align: center;">Compre agora suas roupas</h1>
		<a class="suporte" href="suporte.html">Suporte</a>
			<span id="divBusca">	
  				<input type="text" id="txtBusca" placeholder="Buscar..."/>
 					<a HREF="">	
						<img width="25px" height="25px"
							src="Imagens/searching-magnifying-glass.png"	
								id="btnBusca" alt="Buscar"/>
		  			</a> 
			</span>
		<form method="POST" action="SitedeRoupas.php" >
			<div>
				<a HREF="carrinho.html">
					<img src="Imagens/shopping-bag.png" class="carrinho" />
	  			</a>
				<a HREF="favoritos.html">
					<img src="Imagens/heart.png" class="favoritos carrinho" />
	  			</a>
				
			</div>
		</form>
	</div>
	<div>
	<tree value="#{treeBasicView.root}" var="node">
        <treeNode>
            <h:outputText value="#{node}" />
        <treeNode>
    </tree>
	</div>
		<div id="dialogoverlay"></div>
		<div id="dialogbox">
			<div>
				<div id="dialogboxhead"></div>
				<div id="dialogboxbody"></div>
				<div id="dialogboxfoot"></div>
			</div>
		</div>
	<div class="retanguloimg">
				<center>
						<img class="retanguloSp" width="150px" height="150px" src="Imagens/bata-300x300.png" />
					</center><br>
					<span class="preco">R$ 10,00</span><br>
					<div class="descPrd">
						<p>Camisola adulta feminina de seda e linho tamanho G</p>
					</div>
					<center>
						<input class="addCarrinho" type="button" value="Adicionar ao carrinho" name="car"
							 onclick="logarSe();" ><br><br>
					</center>
						<input class="compra" type="button" value="Comprar"	name="cart"
							 onclick="logarSelogarSe();" >		
	
			<div class="retanguloimg retanguloimg2 ">
				<center>
					<img class="retanguloSp" width="150px" height="150px" src="Imagens/bata-300x300.png" />
				</center><br>
				<span class="preco">R$ 10,00</span><br>
				<div class="descPrd">
					<p>Camisola adulta feminina de seda e linho tamanho G</p>
				</div>
				<center>
					<input class="addCarrinho" type="button" name="car" value="Adicionar ao carrinho" id="msgLogin" 
						 onclick="logarSe();" /><br><br>
				</center>
					<input class="compra" type="button" value="Comprar"	name="cart"	id="msgLogin" 
						 onclick="logarSe();" />
			
				<div class="retanguloimg retanguloimg3 retanguloimg2">
					<center>
						<img class="retanguloSp" width="150px" height="150px" src="Imagens/bata-300x300.png" />
					</center><br>
					<span class="preco">R$ 10,00</span><br>
					<div class="descPrd">
						<p>Camisola adulta feminina de seda e linho tamanho G</p>
					</div>
					<center>
						<input class="addCarrinho" type="button" value="Adicionar ao carrinho" name="car"
							 onclick="logarSe();" /><br><br>
					</center>
						<input class="compra" type="button" value="Comprar"	 name="cart"
							 onclick="logarSe();" />
				</div>
			</div>
	</div>
</body>
</head>
</html>