<body>
  <h6>
    <center>
      sou um t&iacute;tulo
       <strong>peq</strong>.
    </center>
  </h6>
  <h1>
    <b>
      <i>
        <u>
          <font color="red" face="Arial">
          T&iacute;tulo
          </font>
        </u>
      </i>
    </b>
  </h1>
  <p>lalallala</p>
  <p>popopopop</p>
  <br>aaaaaaaaaa
  <br>bbbbbbbbb
  <br>cccccccccc
  <font size="10px" color="red" >
    lalala
  </font>
  
  
  
  <h2>
    <center>
      Meu t&iacute;tulo
    </center>
  </h2>
  <p>
    texto..texto..texto..texto..
  </p>
  <hr color="red" size="3px">
  
  
  
  
  
  
  
</body>