nav, article, aside, section, footer, header, content {display:block;}
body {
	font:large/1.556 'Linux Libertine',Palatino,'Palatino Linotype','Book Antiqua',Georgia,'Times New Roman',serif;
}

article, header{
	width:800px;
	margin:0 auto;
}

nav {
	text-align:center;
	background:#EEE;
	font-size:small;
	padding:5px;
}
nav a {
	color:#666;
	text-transform:uppercase;
}
nav a:hover {color:red;}

nav ol {margin:0;}
nav ol li, nav h2 {text-align:left;}
nav h2 {margin:20px 20px 0;}

li code, p code {color:#666;}

.indice li.todo a{color:#F00;}
.indice li.doing a{color:#990;}
.indice li a{color:#090;}
.sidenote{
  width:30%;
  float:right;
  padding:1em;
  margin-left:0.5em;
  background:#FF9;
  font-size:80%;
}
code del{
  text-decoration:none;
  color:gray;
}
.HTMLComment{color:#699;}
.tagName{
  font-weight:bold;
  color:#cc00cc;
}
.tagAttribute{font-weight:bold;}
.tagAttribute.on{color:green;}
.tagValue{color:blue;}
.zebra1{background:#eee}
.line{color:#666;}
th{vertical-align:top}
td,th{padding:10px;border-bottom:1px dotted #333;}

@media print {
  nav#navbar{display:none}
  a{color:black; text-decoration:none;}
  h1{page-break-before:always;padding-bottom:100px;}
  body{margin-left:100px;}
  .indice li a{color:black !important;}
}


